[Unit]
Description=Ping Logger Container Service
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/kyoobit/tornado-ping-logger:latest
ContainerName=ping-logger
PublishPort=8894:8888
Exec=--systemd --verbose
# Ensure the container runs in foreground mode
PodmanArgs=--log-driver=journald

[Service]
Type=notify
NotifyAccess=all
Restart=always
TimeoutStartSec=900
TimeoutStopSec=70

[Install]
WantedBy=default.target

# Podman rootless Quadlet-generated systemd unit
# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# ~/.config/containers/systemd/ping-logger.container
# systemctl --user daemon-reload
# systemctl --user start ping-logger.service
# systemctl --user status ping-logger.service
